- **
!package.json
!package-lock.json
!api-gateway/**
!services/auth-service/**
!services/user-service/**
!services/messaging-service/**
!services/job-service/**
!services/payment-service/**
!services/review-service/**
!src
!src/config/**
!src/config/** 